extends layout

block content
  .jumbotron.mt-3
    h1.display-4 Hello there, this is Smart Estimative!
    p.lead This is just the beggining of a great ideia to make the estimative of tasks a lot easiar by the time.
    hr.my-4
    p It uses AI approachs in order to make the users life easiar, the main code and functionality is not calculated by
      | an Artificial Inteligence, that is not the point of the solution, but the inteligence works along side with us to make that
      | solution preciser and briliant as the time pass.
    p.font-italic If you want to know more about some technologies we used click the link down bellow and ang get amezed! 
    p.lead
      a.btn.btn-primary.btn-lg(href="#", role="button") Learn more