extends layout

block content
    if tasks.length > 0
        .row.my-tasks-wrapper
            for task in tasks
                .col-sm-4
                    .card.mt-2(data-id= task._id)
                        .card-footer
                            h5.card-title #{task.name}
                        .card-body
                            p.card-text #{task.description}
                            if task.tags.length > 0
                                .tags 
                                    p Related Tags:
                                    for tag in task.tags
                                        .tag.btn.btn-success #{tag.name}
                        .card-footer
                            a.btn.btn-primary.btn-fullspace(href="/task/#{task._id}")   Go to task
                        